@model StreamTV.Models.Cliente

@{
    ViewBag.Title = "Profile - StreamTV";
    ViewBag.Css = "dashboard.css";
}

    <div class="content">
        <nav class="left-nav">
            <div class="menu-itens">
                <div class="item-menu selected-menu" onclick="window.location.href = '/Home/Profile'; ShowLoad();">
                    <img src="/imgsSite/userIcon.png" />
                    <center>
                        <p id="TextUser">SENAI</p>
                    </center>
                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu" onclick="window.location.href = '/Home/Index';ShowLoad();">
                    <img src="/imgsSite/userTelevision.png" />
                    <center>
                        <p id="TextUser">Início</p>
                    </center>
                </div>
                <div class="item-menu" onclick="window.location.href = '/Home/Docs';ShowLoad();">
                    <img src="/imgsSite/userDocs.png" />
                    <center>
                        <p id="TextUser">Docs</p>
                    </center>
                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>

                <div class="item-menu" onclick="window.location.href = '/Home/Logout';ShowLoad();">
                    <img src="/imgsSite/userLogout.png" />
                    <center>
                        <p id="TextUser">Sair</p>
                    </center>
                </div>
            </div>
        </nav>
        
        <main class="content-page">
            <div class="profile-page">
                <div class="profile-box-picture">
                    <img src="/imgsSite/userIcon.png" />
                </div>

                <h2 id="NameUser">@Model.Instituicao</h2>
                <br />

                <table>
                    <tr>
                        <th>Dispositivos: </th>
                        <td>@Model.QtTelevisoes</td>
                    </tr>
                    <tr>
                        <th>Responsável: </th>
                        <td>@Model.Responsavel</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Telefone: </th>
                        <td>@Model.Telefone</td>
                    </tr>
                </table>

                <button id="button-update" onclick="window.location.href = '/Home/UpdateAccount'; ShowLoad();">
                    Alterar dados
                </button>
            </div>

            <div class="profile-page-television">
                @foreach(var tv in ViewBag.Televisoes)
                { 
                    <div class="profile-television-item" onclick="window.location.href = '/Home/EditTelevision/@tv.Id'; ShowLoad();">
                        <div class="profile-television-icon">
                            <div class="background-black-television">
                                <center>
                                    <p id="TextEditTelevision">Editar<br>▾</p>
                                </center>
                            </div>
                        </div>

                        <h2>@tv.Nome</h2>
                    </div>
                }
            </div>
        </main>
</div>