@model StreamTV.Models.Cliente

@{
    ViewBag.Title = "Update Account - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <nav class="left-nav">
        <div class="menu-itens">
            <div class="item-menu selected-menu" onclick="window.location.href = '/Home/Profile';ShowLoad();">
                <img src="/imgsSite/userIcon.png" />
                <center>
                    <p id="TextUser">SENAI</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu" onclick="window.location.href = '/Home/Index';ShowLoad();">
                <img src="/imgsSite/userTelevision.png" />
                <center>
                    <p id="TextUser">Início</p>
                </center>
            </div>
            <div class="item-menu" onclick="window.location.href = '/Home/Docs';ShowLoad();">
                <img src="/imgsSite/userDocs.png" />
                <center>
                    <p id="TextUser">Docs</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>

            <div class="item-menu" onclick="window.location.href = '/Home/Logout';ShowLoad();">
                <img src="/imgsSite/userLogout.png" />
                <center>
                    <p id="TextUser">Sair</p>
                </center>
            </div>
        </div>
    </nav>

    <main class="content-page">
        <div class="update-content">
            <h2 id="TitleUpdateAccount">Confira se seus dados estão corretos e altere-os</h2>

            <form class="form-update">
                <input placeholder="Digite o nome da instituição" value="@Model.Instituicao" />
                <br>
                @Html.ValidationMessageFor(x => x.Instituicao)
                <input placeholder="Digite o nome do responsável" value="@Model.Responsavel" />
                <br>
                @Html.ValidationMessageFor(x => x.Responsavel)
                <input readonly placeholder="Dispositivos cadastrados" value="@Model.QtTelevisoes" />
                <br>
                @Html.ValidationMessageFor(x => x.QtTelevisoes)
                <input placeholder="Digite sua senha" type="password" />
                <br>
                @Html.ValidationMessageFor(x => x.Senha)
                <input placeholder="Digite seu telefone" value="(11) 99999-9999" @Model.Telefone />
                <br>
                @Html.ValidationMessageFor(x => x.Telefone)
                <input placeholder="Digite seu email" value="@Model.Email" />
                <br>
                @Html.ValidationMessageFor(x => x.Email)

                <button type="submit" id="button-UpdateData">Alterar Dados</button>
            </form>
        </div>
    </main>
</div>