@model StreamTV.Models.Cliente

@{
    ViewBag.Title = "Update Account - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <nav class="left-nav">
        <div class="menu-itens">
            <div class="item-menu selected-menu" onclick="window.location.href = '/Home/Profile';ShowLoad();">
                <img src="/imgsSite/userIcon.png" />
                <center>
                    <p id="TextUser">SENAI</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu" onclick="window.location.href = '/Home/Index';ShowLoad();">
                <img src="/imgsSite/userTelevision.png" />
                <center>
                    <p id="TextUser">Início</p>
                </center>
            </div>
            <div class="item-menu" onclick="window.location.href = '/Home/Docs';ShowLoad();">
                <img src="/imgsSite/userDocs.png" />
                <center>
                    <p id="TextUser">Docs</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>

            <div class="item-menu" onclick="window.location.href = '/Home/Logout';ShowLoad();">
                <img src="/imgsSite/userLogout.png" />
                <center>
                    <p id="TextUser">Sair</p>
                </center>
            </div>
        </div>
    </nav>

    <main class="content-page">
        <div class="update-content">
            <h2 id="TitleUpdateAccount">Confira se seus dados estão corretos e altere-os</h2>

            <form class="form-update" method="post">
                @Html.EditorFor(x => x.Instituicao, new { @Placeholder = "Digite o nome da instituição" })

                @Html.EditorFor(x => x.Responsavel, new { @Placeholder = "Digite o nome do responsável" })

                <input readonly placeholder="Dispositivos cadastrados" value="@ViewBag.QtTelevisoes" />

                @Html.PasswordFor(x => x.Senha, new { @Placeholder = "Digite sua senha" })

                @Html.EditorFor(x => x.Telefone, new { @Placeholder = "Digite seu telefone" })

                @Html.EditorFor(x => x.Email, new { @Placeholder = "Digite seu email" })

                <center>
                    @Html.ValidationMessageFor(x => x.Instituicao)
                    @Html.ValidationMessageFor(x => x.Responsavel)
                    @Html.ValidationMessageFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Telefone)
                    @Html.ValidationMessageFor(x => x.Senha)
                </center>

                <button type="submit" id="button-UpdateData" onclick="ShowLoad();">Alterar Dados</button>
            </form>
        </div>
    </main>
</div>